:root {
  --dark-purple: #160C28;
  --warning: #EFCB68;
  --light: #E1EFE6;
  --gray: #AEB7B3;
  --dark: #000411;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark);
  color: var(--light);
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dark-purple);
  padding-bottom: 20px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
}

nav h1 {
  margin: 20px;
  font-size: xx-large;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

.project-section {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 50px;
  margin-top: 20vh;
  margin-bottom: 45vh;
}

.solo-projects,
.team-projects {
  min-width: 200px;
  background-color: var(--dark-purple);
  padding: 30px;
  border-radius: 10px;
  box-shadow: #000411;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-top: 10px;
}

a {
  color: var(--gray);
  text-decoration: none;
}

a:hover {
  color: var(--warning)
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 25vh;
  margin-bottom: 50vh;
  background-color: var(--dark-purple);
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 700px;
}

img {
  width: 40%;
  max-width: 300px;
  border-radius: 10px;
}

.about .right {
  width: 40%;
}

.about .right h2 {
  margin-bottom: 20px;
}

footer {
  height: 50px;
  background-color: var(--dark-purple);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
