/* color palette: 
#606C38  - lighter green
#283618  - dark green
#FEFAE0  - creme
#DDA15E  - lighter orange
#BC6C25  - darker orange
*/

body {
  font-family: 'Arial', Times, serif;
  margin: 0;
  display: flex;
  justify-content: left;
  background-color: #283618;
}

nav {
  position: fixed;
  width: 150px;
  height: 100vh;
  /* Full height of the viewport */
  display: flex;
  flex-direction: column;
  background-color: #BC6C25;
  /* Dark background */
  border-radius: 25px 25px 0% 0%;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 10px 0;
  text-align: center;
}

nav ul li .ProfilePic {
  margin: 10px 0;
  width: 75px;
  height: 75px;
  object-fit: scale-down;
  border-radius: 37px;
}

nav ul li a {
  color: #FEFAE0;
  text-decoration: none;
  display: block;
  padding: 10px;
}

nav ul li a:hover {
  background-color: #DDA15E;
}

main {
  background-color: #283618;
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  color: #FEFAE0;
  text-align: center;
  min-height: 100vh;
}

#home-section {
  display: flex;
  align-items: center;
  /* Align items vertically */
  justify-content: center;
  /* Centers the entire content */
  gap: 20px;
  /* Adds spacing between elements */
}

.team,
.solo {
  background-color: #606C38;
  margin: 60px;
  max-width: 300px;
  flex: 1;
  /* Makes them take up equal space */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 20px;

}

.team a:hover,
.solo a:hover {
  color: #DDA15E;
}

.team ul,
.solo ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.team ul li,
.solo ul li {
  margin-top: 10px;
}

.team ul li a,
.solo ul li a {
  text-decoration: none;
  color: #FEFAE0;
}

#home-section img {
  max-width: 300px;
  /* Adjust image size as needed */
  border-radius: 20px;
}

.about {
  flex: 1;
  background-color: #606C38;
  color: #FEFAE0;
  margin-top: 100px;
  border-radius: 30px 30px 0% 0%;
}

.about h2 {
  margin: 50px;
  text-align: left;
}

.about article {
  text-indent: 50px;
  margin: 50px;
  text-align: left;
}