body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    display: flex;
    background-color: #222;
}

nav {
    position: fixed; /* Keeps it in place even when scrolling */
    left: 0;
    top: 0;
    width: 100px; /* Adjust width as needed */
    height: 100vh; /* Full height of the viewport */
    display: flex;
    flex-direction: column;
    background-color: #333; /* Dark background */
    padding: 20px;
  }

  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    margin: 10px 0;
  }
  
  nav ul li .ProfilePic {

    margin: 10px 0;
    width: 75px;
    height: 75px;
    object-fit: scale-down;
    border-radius: 37px;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }


main {
    flex-grow: 1;
    margin-left: 150px;
    padding: 20px;
    width: 90%;
    color:aliceblue;
    text-align: center;
}

main ul {
  list-style: none;
}

main ul li {
  text-decoration: none;
  color: white;
}

main img {
  width: 300px;
}

/*main .solo {
  height: 500px;
  position: relative;
  top: -400px;
  left: -300px;
}

main .team {
  height: 500px;
  position: relative;
  top: -200px;
  left: 300px;
}*/